@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body{
    margin: 0;
    background-color: #FBF5F3;
    font-family: "PT sans",Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

/*
====================================================
    HEADER
====================================================
*/



#main-header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
    background-color: #345995;
    color: #FFBA08;
    padding-top: 10px;
    padding-bottom: 10px ;
    border-bottom: 2px solid #FFBA08;
    align-items: center;
    -height: 100px;

    
}

#main-header div.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#main-header h1{
    letter-spacing: 4px;
    font-size: 1.3rem;
    font-family: "Piedra", "Nerko One", "Stalinist one",Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
span#logo{
    color: white;
}

/*
====================================================
    HEADER ==> NAVBAR
====================================================
*/


#main-nav ul{
    list-style: none;
    padding: 0;
    
}

#main-nav li{
    display: inline;
    
}

#main-nav a{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 15px;
}
#main-nav a:hover{
    color: #FFBA08;
    
}
.active{
    font-weight: bold;
    text-decoration: underline #FBF5F3 2px;
}
.toggle-nav{
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    display: none;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.toggle-nav:hover{
    transform: scale(1.1);
}

.toggle-nav .bar{
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: white;
}



/*
====================================================
    HOME ==> SHOWCASE
====================================================
*/


.showcase{
    text-align: center;
    margin: 80px auto;
    width: 60%;
    color: #33241a;
}

.showcase h1{
    font-family: "Texturina",Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

/*
====================================================
    HOME ==> PHOTOGALLRY
====================================================
*/

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    height: 300px;
    margin: 10px;
    min-width: 100px;
    width: 30%;
    
}

img{
    width:100%;
    height: 100%;
    transition: 100ms;
    
}

.box img:hover{
    opacity: 0.98;
    transform: scale(1.05);
}

/*
====================================================
    PAGINATION
====================================================
*/

#pagination{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    height: 80px;

    
}

#pagination a{
    color: #345995;
    margin: 0 5px;
    flex-basis: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
}

#pagination a:hover:not(.active){
    background-color:  #d0d3d6 ;
    color: #132f5c;
    transform: scale(1.1);
    cursor: pointer;
    
}

#pagination .active{
    background-color:  #345995;
    text-decoration: none;
    color: white;
}



/*
====================================================
    ABOUT ME
====================================================
*/
#about-me{
    
}

.top-text h3, .top-text p{
    
    width: 35%;
}


.contact-about{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}

.flex-box1{
    background-color: #F2F5EA;
    height: 600px;
    margin: 20px;
    margin-top: 10px;
    width: 35%;
    margin-left: 0;
}

.flex-box2{
    box-sizing: border-box;
    background-color: #d9dbd2;
    height: 600px;
    margin: 10px;
    width: 60%;
    padding: 40px;
    color: #33241a;
    
}

.flex-box2 h5{
    margin-top: -10px;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 1rem;
}

/*
====================================================
    CONTACT PAGE
====================================================
*/

.contact{
    display: flex;
}

.contact input, textarea{
    display: block;
    padding-top: 10px;
    border: none;
    border-bottom: 2px gray solid;
    background-color: inherit;
    width: 100%;
    color: white;
}

.contact label{
    display: block;
    padding-top: 30px;
}
.contact legend{
    font-size: 2rem;
}
fieldset{
    border: none;
}

.contact button{
    float: right;
    position: relative;
    top: 1rem;
    right: 0rem;
    padding: 15px;
    width: 6rem;
    color: white;
    background-color: inherit;
    border: 1px solid white;
    text-transform: uppercase;
    transition: 400ms;
    
}

.contact button:hover{
    border-color: rgb(22, 214, 214);
    color:  rgb(22, 214, 214);
}
.contact .flex-box2{
    background-color: #011627;
    box-sizing: border-box;
    height: 700px;
    color: white;
    width: 50%;   
}

.contact .flex-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 700px;
    padding: 0 30px;
}
.contact .flex-box1 p:nth-child(1){
    font-family: 'Major Mono Display', monospace;
    margin-top: -80px;
    font-size: 2rem;
    word-spacing: 10px;
    background-color:  #011627;
    color: white;
    padding: 20px;
}
.contact .flex-box1 p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
    outline: none;
    
}



/*
====================================================
    PORTFOLIO AND BLOG === COMING SOON
====================================================
*/


.coming .showcase{
    margin-top: 100px;
    margin-bottom: 100px;
}
.coming h1{
    font-size: 4rem;
    letter-spacing: 20px;
    word-spacing: 20px;
}

.coming a{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    width: 6rem;
    color: inherit;
    background-color: inherit;
    border: 1px solid #33241a;
    text-transform: uppercase;
    transition: 400ms;
}

.coming a:hover{
    border-color:#FFBA08;
    color: #FFBA08;
}

hr{
    margin: -20px auto  0px auto;
    width: 100px;
}






/*
====================================================
    FOOTER
====================================================
*/
#main-footer{
    display: flex;
    flex-direction: column;
    -margin: 50px 0 0 0;
    background-color: #345995;
    border-top: 2px solid #FFBA08;
    color: white;
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    
}

#main-footer ul{
    list-style: none;
    padding: 0;
}

#main-footer li{
    display: inline;
}
#main-footer p{
    padding-bottom: 0px ;
}

.social{
    margin-top: -20px;
}
.social a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 5px;
    transition: .6s;
}
.social a:hover{
    color: black;
    
}
.copyright{
    opacity: 0.5;
}













@media(max-width:800px){
    #main-header{
        padding: 10px;
    }

    #main-header div.container{
        flex-direction: column;
        align-items: flex-start;

    }
    
    #main-nav{
        display: none;
        width: 100%;
    }

    #main-nav ul{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #main-nav li{
        text-align: center;
    }

    #main-nav.active-nav{
        display: flex;
    }

    #main-nav a{
        display: block;
        padding: 1rem;
        transition: .2s;
    }

    #main-nav a:hover{
        background-color: #555555;
        color: ivory;
    }

    .toggle-nav{
        display: flex;

    }
    

    #showcase{
        width: 100%;
        margin: 80px 0px;
    }
    .flex-container{
        justify-content: center;
        flex-flow: column;
        
    }
    .box{
        margin: 5px auto;
        width: 80%;
        height: 300px;
        
    }
    .top-text{
        text-align: center;
    }
    .top-text h3, .top-text p{
        width: 100%;
    }

    .contact-about{
        flex-wrap: wrap;
    }
    
    
    .flex-box1{
        margin-right: 0;
        width: 100%;
    }
    .contact .flex-box1{
        display: none;
    }
    
    .flex-box2{
        margin-left: 0; margin-right: 0;
        width: 100%;
        height: auto;
        
    }
    .contact .flex-box2{
        width: 100%;
    }

    .coming h1{
        font-size: 3.5rem;
        letter-spacing: 10px;
        word-spacing: 20px;
    }
    
}





